@charset "UTF-8";
body,
html {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

body > header {
  background: url("imagens/bg-3.jpg") center right / cover no-repeat scroll;
  padding-top: 25px;
}

nav {
  margin-right: 50px;
}

ul {
  text-align: right;
  padding-bottom: 50px;
}

ul > li {
  display: inline-block;
  list-style: none;
}

ul > li > a {
  padding: 15px;
  background-color: #00000071;
  color: white;
  border: 2px solid white;
  box-sizing: border-box;
  margin-right: 10px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
}

ul > li > a:hover{
    background-color: black;
}

header > div {
  text-align: center;
}

div {
  padding-bottom: 80px;
}

h1 {
  font-weight: bolder;
  font-size: 64px;
  color: rgba(255, 255, 255, 0.884);
}

div > p {
  background-color: rgba(0, 0, 0, 0.596);
  color: white;
  font-size: 25px;
  padding: 10px;
  display: inline-block;
  border-bottom: 3px solid white;
}
/*MENU CONCLUIDO*/

main > section {
  background-color: #cccccc;
  padding: 25px 0px 25px 0px;
}

main > section > article {
  background-color: white;
  width: 80%;
  margin: auto;
  padding: 5px;
  margin-top: 25px;
}

main > section > article > h2 {
  background-color: #e0dfdf;
  padding: 10px;
}

main > section > article > p {
  padding: 5px;
  text-align: justify;
}

article > a {
  background-color: #cec7c4;
  padding: 10px;
  display: block;
  width: 100px;
  text-align: center;
  color: #281ee9;
  font-weight: 700;
  text-decoration: none;
}

/*MAIN CONCLUIDO*/

footer{
    padding: 15px;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.527);
}